
.card{
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:16px;
    max-width:280px ;
    border-radius: 15px;   
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    /* height: 253px; */
    max-width: 40vh;
    border-radius: 8px;
}
.text{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
    /* height: 135px */
    max-width: 280px;
    margin: 5px;   
}
p{
    font-weight: 400;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    
}
h1{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
